$main-color: #4aa414;
$second-color: #e3e3e3;

* {
    box-sizing: border-box;
}

html {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
}

body {
    margin: 0;
}

.inread {
    margin: 0 auto;
    background-color: #fff;
    background-image: url("./img/bg.png");
    padding: 3.5rem 0 3.68rem 3.12rem;
    display: flex;
    background-size: cover;
    background-position: bottom;

    &__image {
        height: 26.16rem;
        width: 26.16rem;
        outline-offset: -0.6rem;
        flex-shrink: 0;
        background-size: cover;
        background-position: center;
    }

    &__container {
        margin-top: 2rem;
        margin-left: 3rem;
    }

    &__first {
        &-title {
            font-size: 2.32rem;
        }

        &-checkboxes {
            margin-top: 2.4rem;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: repeat(2, auto);
            grid-gap: 1.28rem;
            padding: 1.6rem 0;
            border-top: 2px solid $second-color;
            border-bottom: 2px solid $second-color;
        }

        &-button {
            padding: 1rem 2rem;
            font-size: 1.2rem;
            background-color: $main-color;
            color: #fff;
            border: none;
            border-radius: 1.6rem;
            margin-top: 2.2rem;
            cursor: pointer;
            outline: none;
        }
    }

    &__second {
        &-title {
            &-big {
                font-size: 1.8rem;
                font-weight: bold;
                text-transform: uppercase;
            }

            &-small {
                font-style: italic;
                font-size: 1.5rem;
            }
        }

        &-wrapper {
            display: flex;
            flex-wrap: wrap;
            width: 22rem;
        }

        &-input {
            width: 100%;
            border: 3px solid $second-color;
            font-size: 0.96rem;
            padding: 0.8rem;
            margin-top: 1.6rem;

            &.error {
                border-color: rgba(186, 42, 26, 1);
            }
        }

        &-button {
            padding: 0.9rem 1.8rem;
            font-size: 1.12rem;
            background-color: $main-color;
            line-height: 1;
            color: #fff;
            border: none;
            border-radius: 1.6rem;
            cursor: pointer;
            outline: none;
            text-decoration: none;
        }

        &-form-footer {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        &-link {
            font-size: 0.8rem;
            color: $main-color;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__third {
        margin-top: 2rem;

        &-title {
            &-big {
                font-size: 2.3rem;
                font-weight: bold;
            }

            &-small {
                font-size: 2rem;
            }
        }
    }

    &__checkbox {
        display: block;
        position: relative;
        padding-left: 1.92rem;
        cursor: pointer;
        font-size: 1.2rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked ~ .checkmark {
                background-image: url("./img/checkbox.png");
            }

            &:checked ~ .checkmark:after {
                display: block;
            }
        }

        &_second {
            font-size: 0.9rem;
            color: #a7a7a7;
            padding-left: 1.5rem;
            margin-top: 2rem;

            &.error {
                color: rgba(186, 42, 26, 1);
            }


            .checkmark {
                width: 1rem;
                height: 1rem;
                border-width: 2px;

                &:after {
                    left: 0.15rem;
                    width: 0.2rem;
                    top: -1px;
                    height: 0.5rem;
                    border-width: 0 0.15rem 0.15rem 0;
                }
            }
        }
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3rem;
    width: 1.3rem;
    background-image: url("./img/checkbox-2.png");
    background-size: contain;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

@media (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 730px) {
    html {
        font-size: 11px;
    }
}

@media (max-width: 660px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 615px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 560px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 7px;
    }
}
